.basement-group {
    margin-top: 60px;
    margin-bottom: 60px;
}

.address-group {
    margin-top: 20px;
    width: 231px;

    .address {
        margin: 0;
    
        font-weight: 400;
        font-style: normal;
        font-size: 14px;
        line-height: 1.7;
        letter-spacing: 0.03em;
    
        color: $main-title-color;
    }
    
    .contact {
        display: block;
        padding: 0;
        text-decoration: none;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.7;
        letter-spacing: 0.03em;
    
        color: $basement-contact-color;
    }
    
    .interval:not(:last-child) {
        margin-bottom: 9px;
    }
}
