.discription {
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.03em;

    color: $primary-text-color;
}

.skill {
    line-height: 1.2;
    text-align: center;
}

.text {
    line-height: 1.87;
}

.features-text,
.agreement-label {
    font-size: 14px;
    line-height: 1.7;
}

.address {
    font-style: normal;
    font-size: 14px;
    line-height: 1.7;

    color: $main-title-color;
}
