.form-input {
    width: 358px;
    height: 50px;
    border-radius: 4px;
    border: 1px solid $border-e-mail-color;

    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.03em;

    transition: border-color $duration-and-timing-function;
    color: $basement-contact-color;
    background-color: transparent;

    &:focus {
        outline: none;
        border-color: $accent-color;
    }

    &::placeholder {
        transition: color $duration-and-timing-function;
    }

    &:focus::placeholder {
        color: $accent-color;
    }
}
