.main-title {
    width: 700px;
    margin-top: 0;
    margin-bottom: 30px;

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: $main-title-color;
}

.order {
    display: inline-block;
    min-width: 200px;
    height: 50px;
    padding: 10px 32px;
    border-radius: 4px;

    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;

    color: $main-title-color;
    background-color: $accent-color;
    box-shadow: $hero-link-shadow;
}

.hero-item {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;

    background-color: $main-background-color;
    background-image: linear-gradient($overlay, $overlay), url(../images/hero-back.jpg);

    .container {
        @include centeringFlex();
        height: 600px;
        text-align: center;
    }
}
