.header-inner {
    display: flex;
    align-items: center;
}

.container-nav {
    display: flex;
    align-items: center;
}

.head {
    border-bottom: 1px solid $header-underline-color;
}

.header-nav {
    margin-left: 93px;
    display: flex;
    align-items: center;

    .item:not(:last-child) {
        margin-right: 50px;
    }
}

.nav-link {
    padding-top: 32px;
    padding-bottom: 32px;
}

.header-contact {
    display: flex;
    margin-left: auto;

    .item:not(:last-child) {
        margin-right: 50px;
    }
}

.contact {
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
}

.mail,
.phone {
    margin-right: 10px;
}
