.invisible {
    display: none;
}

.buttons-list {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    padding-top: 94px;

    .item:not(:last-child) {
        margin-right: 8px;
    }
}

.portfolio-btn {
    padding: 6px 22px;
}
