.form {
    display: block;
    padding-left: 16px;

    &-wraper {
        margin-left: auto;
    }
    
    &-title {
        display: block;
        padding-top: 72px;
        margin-bottom: 20px;
    }
    
    &-field {
        display: flex;
        align-items: center;
    }
}

.submit {
    @include centeringFlex(inline-flex);
    margin-left: 12px;

    .icon-plane {
        margin-left: 10px;
    }
}
